<h1>Controle Remoto do Robo de Marte</h1>

<p>Insira os parâmetros de configuração do terreno e do movimento a ser enviado para Marte!</p>

<%= form_with model: @robot, url: robots_path do |form| %>
  <p>
    <%= form.label :size_x %><br>
    <%= form.text_field :size_x %>
  </p>

  <p>
    <%= form.label :size_y %><br>
    <%= form.text_field :size_y %>
  </p>
 
  <p>
    <%= form.label :start_x %><br>
    <%= form.text_field :start_x %>
  </p>

  <p>
    <%= form.label :start_y %><br>
    <%= form.text_field :start_y %>
  </p>

  <p>
    <%= form.label :moves %><br>
    <%= form.text_area :moves %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<h1>RESULTADO</h1>
<% if @message %> 
  <h3 class="mensagem"><%= @message %></h3>
<% end %>